* {
    box-sizing: border-box;
}


body {
    margin: auto;
    background-image: url("https://images6.alphacoders.com/736/thumb-1920-736068.png");
}
.main-container{
    background-color:#fff;
    position:fixed;
    z-index:999;
}
.login-container {
    width:100%;
    margin-top: 100px;
    
}

.login-navbar {
    background-image: url("https://i.pinimg.com/originals/c8/22/99/c82299c922511645334164f67f76e7c7.gif");
    background-size: 140%;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    width: 40%;
    margin: auto;
    height: 450px;
    border-radius: 10px;
}

/*main*/
.login-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    border: 2px solid #0094ff;
    border-radius: 50%;
    width: 15%;
}

h1{
    color:#fff;
    text-align:center;
    font-size: 25px;
    font-family: monospace;
}

 /*content-row sign*/
.login-row {
    color: #fff;
    margin: 20px 0;
}

.login-title {
    font-size:25px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 200px;
}


.username, .password {
    width:230px;
    padding: 15px 7px 7px 5px;
    color: #0094ff;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.5);
}
.sign-in {
    width: 20%;
    font-size:20px;
    align-items: center;
    border: 1px solid black;
    color: #fff;
    background-color: dodgerblue;
    padding: 10px 5px;
    margin-top:20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin:auto;
    border-radius: 5px;
    cursor: pointer;
}
 .sign-in:hover{
     transition: 0.7s;
     letter-spacing: 2px;
     background:linear-gradient(37deg,#b31cec,#0a2dee);
     cursor:pointer
 }

 .login-botton{
     text-align:center;
     color: #fd0a0a;
     transition:0.5s;
 }
 .login-botton:hover{
     color: #fff;
     transform:scale(0.9);
 }